.header-flex-container {
    position: relative;
    // display: flex;
    // align-items: center;
}

.nav_menu_item {
    content: '';
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translate(-50%, -50%);
}
