/*класс со свойствами блока подписки*/
.footer-subscribe {
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    /*класс со свойствами формы*/
    &-form {
        display: block;
        margin-top: 21px;

        @media screen and (min-width: 1200px) {
            display: flex;
            margin-top: 20px;
        }
    }

    /*класс со свойствами поля ввода*/
    &-input {
        margin-bottom: 20px;
        padding: 15px 16px;
        width: 100%;

        background-color: $footer-bgr-color;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);

        border: 1px solid rgba(255, 255, 255, 0.3);
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;

        /*класс со свойствами поля ввода при фокусе*/
        &:focus-within {
            outline: none;
        }

        @media screen and (min-width: 768px) {
            display: flex;
            margin-left: auto;
            margin-right: auto;
            width: 450px;
        }

        @media screen and (min-width: 1200px) {
            margin-left: 0;
            margin-bottom: 0px;
            margin-right: 12px;
            width: 360px;
        }
    }

    @media screen and (min-width: 1200px) {
        margin-left: 94px;
        margin-right: 0;
        width: 100%;
    }
}

/*класс для текста заголовка подписки*/
.footer-header-subscribe {
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $alternative-text-color;

    @media screen and (min-width: 1200px) {
        text-align: left;
    }
}

/*класс для описания свойств кнопки Подписаться в футере*/
.footer-link-button {
    margin-left: auto;
    margin-right: auto;

    display: flex;
    align-items: center;
    background-color: $main-accent-color;
    color: $alternative-text-color;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 29px;
    padding-right: 29px;

    line-height: 30px;
    min-height: 50px;
    border: none;
    border-radius: 4px;

    &:focus {
        outline: none;
    }
}

.footer-send-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    fill: currentColor;
}
