/*Отодвинуть контактные данные хедера вправо*/
.header-contact {
    margin-left: auto;

    @media screen and (min-width: 768px) {
        margin-left: 75px;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 305px;
    }

    /*окрашиваем иконки контактов в цвет параграфов на странице*/
    &-icon {
        margin-right: 10px;
        fill: $main-paragraph-color;
    }

    /*Делаем элементы списка контактов - флекс элементами*/
    &-list {
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 767px) {
            padding-top: 21px;
            padding-bottom: 21px;
            justify-content: center;
            margin-top: 60px;
        }

        @media screen and (min-width: 768px) {
            justify-content: left;
            // margin-left: 84px;
        }

        @media screen and (min-width: 1200px) {
            flex-direction: row;
        }
    }

    &-item {
        @media screen and (max-width: 767px) {
            margin-left: auto;
            margin-right: auto;

            &:not(:last-child) {
                margin-bottom: 16px;
            }
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }

        @media screen and (min-width: 1200px) {
            margin-bottom: 0px;

            &:not(:last-child) {
                margin-right: 30px;
            }
        }
    }
}

/*Задаем стили текста ссылок и свг картинок + эффекты ховера и фокуса*/

.link-contact-text {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: $main-paragraph-color;
    line-height: 21px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    & svg {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover,
    &:focus {
        color: $main-accent-color;
        & svg {
            fill: $main-accent-color;
        }
    }

    @media screen and (min-width: 768px) {
        line-height: 14px;
    }
}
