/*
класс для элементов листа секции преимуществ
*/

.advantages-list-item {
    width: 100%;

    &:not(:first-child) {
        margin-top: 30px;
    }

    & h3 {
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-align: center;
        color: $header-text-color;
        margin-bottom: 10px;
    }

    & p {
        margin-top: 0px;
        margin-bottom: 0px;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: $main-paragraph-color;
    }

    @media screen and(min-width: 768px) {
        margin-bottom: 30px;

        &:not(:first-child) {
            margin-top: 0px;
        }

        &:nth-child(2n + 1) {
            margin-right: 30px;
        }

        &:nth-last-child(-n + 2) {
            margin-bottom: 0px;
        }

        width: calc((100% - 30px) / 2);

        & h3 {
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            text-align: left;
            color: $header-text-color;
            margin-bottom: 10px;
        }
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 90px) / 4);
        margin-top: 0;
        margin-bottom: 0;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

/*класс для свойств контейнера картинок секции преимуществ*/
.advantages-img-container {
    // display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: $advantages-bgr-color;
    border-radius: 4px;
    margin-bottom: 30px;
}
