.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: bold;
    line-height: 60px;
    color: $main-text-color;

    &-primary {
        color: $main-accent-color;
    }
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: bold;
    line-height: 60px;
    color: $alternative-text-color;

    &-primary {
        color: $main-accent-color;
    }

    @media screen and(min-width: 768px) {
        line-height: 28px;
    }
}
