/*главной блок страницы порфолио*/
.main-portfolio {
    display: block;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.portfolio-projects {
    width: 100%;
    &:not(:last-child) {
        margin-bottom: 30px;
    }

    @media screen and (min-width: 768px) {
        width: calc((100% - 30px) / 2);
        &:nth-child(2n + 1) {
            margin-right: 30px;
        }

        &:nth-last-child(-n + 1) {
            margin-bottom: 0px;
        }
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 60px) / 3);
        margin-right: 30px;
        &:nth-child(3n) {
            margin-right: 0px;
        }

        &:nth-last-child(-n + 3) {
            margin-bottom: 0px;
        }
    }
}

.card {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
    }

    &-content {
        background: $alternative-text-color;
        box-sizing: border-box;
        padding: 20px 24px;
        border-right: 1px solid $portfolio-item-border;
        border-bottom: 1px solid $portfolio-item-border;
        border-left: 1px solid $portfolio-item-border;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    /*непосредственный див для оверлея*/
    &-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background-color: rgba(33, 150, 243, 0.9);
        opacity: 0;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    /*эффект ховера и фокуса на карточку, чтобы плавно появлялся оверлей с текстом*/
    &:hover &-overlay {
        opacity: 1;
        transform: translateY(0);
    }
}

/*контейнер для оверлея (картинка и текст оверлея)*/
.portfolio-overlay-container {
    position: relative;
    overflow: hidden;
}

/*непосредственный текст оверлея*/
.overlay-text {
    display: block;
    margin: 0px;
    width: 100%;
    height: 100%;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: $alternative-text-color;
    padding: 63px 24px;
}
