/*навигация по проетам страницы портфолио*/
// .nav-porfolio-project {
//     margin-top: 60px;
//     justify-content: center;

//     /*убираемм крайнюю геометрию в списке проектов*/
//     &-item:not(:last-child) {
//         margin-right: 8px;
//     }
// }

.portfolio-main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
        justify-content: center;
        margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
        justify-content: center;
        margin-bottom: 34px;
    }
}

.nav-project-styles {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 54px;
    letter-spacing: 0.06em;
    background-color: $portfolio-button-color;
    color: $header-text-color;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $alternative-text-color;
        background-color: $main-accent-color;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
    }
}
