$mobile: 480px; /*переменная для задания ширины вьюпорта мобильных устройств*/
$tablet: 768px; /*переменная для задания ширины вьюпорта планшетов*/
$desktop: 1170px; /*переменная для задания ширины вьюпорта ПК*/
