$main-accent-color: #2196f3; /*цвет для интерактивных элементов*/
$alternative-text-color: #ffffff; /*второй главный цвет*/
$header-text-color: #212121; /*переменная для цвета текста заголовков*/
$main-paragraph-color: #757575; /*переменная для цвета текста в параграфах*/
$main-text-color: #000000; /*Первый главный цвет*/
$footer-bgr-color: #2f303a; /*цвет фона футера*/
$portfolio-button-color: #f5f4fa; /*цвет кнопок на странице портфолио*/
$portfolio-item-border: #eeeeee; /*цвет рамки карточек*/
$team-section-bgr-color: #f5f4fa; /*цвет фона в секции наша команда*/
$advantages-bgr-color: #f5f4fa; /*цвет фона картинок преимуществ*/
$default-socials-color: #afb1b8; /*Цвет иконок по умолчанию*/
$button-focus-bgr: #188ce8; /*цвет кнопки модального окна, когда на нее попадает фокус*/
